<div [ngClass]="{'container-fluid':true}">
  <div [ngClass]="{'text-center':true}">
      <h2>Welcome to Online Air Ticket Reservation</h2>
    
      <h4>Displaying all Airlines across the world</h4>
    </div>
    <br>
    <br>
    <div [ngClass]="{'row':true}">
      <div [ngClass]="{'col-md-8':true,'col-md-offset-2':true}">
        <table *ngIf="flights" [ngClass]="{'table':true, 'table-responsive':true}">
          <thead>
            <tr>
              <th>Flight ID</th>
              <th>Source</th>
              <th>Destination</th>
              <th>Dep Date</th>
              <th>Arr Date</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngFor="let flight of flights; let i = index" [class.active]="i == selectedRow">
            <tr>
              <td>{{flight.flightId}}</td>
              <td>{{flight.source}}</td>
              <td>{{flight.destination}}</td>
              <td>{{flight.departureDate}}</td>
              <td>{{flight.arrivalDate}}</td>
              <td>
                <button type="button" (click)="showFlight(flight, i)">Show details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <div *ngIf="flightDetails" [ngClass]="{'col-md-4':true,'col-md-offset-2':true}">
        <app-flight-details [details]="flightDetails"></app-flight-details>
      </div>
  </div>
</div>
