html, body {
	padding:0;
	background-image: url("/assets/background-img.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        opacity: 0.97;
    font-size: 14px;
    height: 100%;
}

.row {
	margin-right: 0px;
	margin-left: 40px 
}

.container-fluid {
	height:100%;
	display:table;
	width: 100%;
	padding: 0;    
}
