  <h3>The Details of Flight: {{flightDetails.flightId}}</h3>
    <table>
      <tbody>
        <tr>
          <td>Source:</td>
          <td>{{flightDetails.source}}</td>
        </tr>
        <tr>
          <td>Destination: </td>
          <td>{{flightDetails.destination}}</td>
        </tr>
        <tr>
          <td>Departure Date: </td>
          <td>{{flightDetails.departureDate}}</td>
        </tr>
        <tr>
          <td>Arrival Date: </td>
          <td>{{flightDetails.arrivalDate}}</td>
        </tr>
        <tr>
          <td>Base Fare: </td>
          <td>{{flightDetails.baseFare}}</td>
        </tr>
        <tr>
          <td>Seats Available: </td>
          <td>{{flightDetails.seatsAvailable}}</td>
        </tr>
        <tr>
          <td>Message: </td>
          <td>{{flightDetails.message}}</td>
        </tr>
      </tbody>
    </table>